spring:
  application:
    name: netflix-zuul-api-gateway-proxy-server

#Zuul routes. Here for /student path, we are routing to localhost:8090 with extra path after that.
zuul:
  routes:
    student-service:
      path: /student/**
      #url: http://localhost:8090
      service-id: student-service
      stripPrefix: false
 
#Ribbon is auto integrated with Zuul and for this exercise we are not using that.
ribbon:
  eureka:
    #enabled: false
    enabled: true
 
#Will start the gateway server @8080
server:
  port: 8080

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
      